
    <footer>
        <style>
            *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #eef8ff;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: #fff;
    padding: 50px 0 20px;
    border-top-left-radius: 50px ;
    font-size: 12px;
    line-height: 18px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 60px;
    margin-bottom: 20px;
}

.col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

ul li {
    list-style: none;
    margin-bottom: 8px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

form{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

form .far{
    font-size: 16px;
    margin-right: 8px;
}

form input{
    width: 70%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas{
    font-size: 14px;
    color: #ccc;
}

.social-icons .fab{
    width: 30px; /* Reduced icon size */
    height: 30px; /* Reduced icon size */
    border-radius: 50%;
    text-align: center;
    line-height: 30px; /* Reduced line height */
    font-size: 14px; /* Reduced font size */
    color: #000;
    background: #fff;
    margin-right: 10px; /* Reduced margin */
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px auto; /* Reduced margin */
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 15%;
    }
}
        </style>
        <div class="row">
            <div class="col">
                <img src="logo.png" class="logo">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem has been the industry's standard  text ever since the 1500s, when type specimen book.</p>
            </div>
            <div class="col">
                <h3>Bureau <div class="underline"><span></span></div></h3>
                <p>Campus Notre-Dame-de-Lorette (NDL)</p>
                <br>
                <p>10, rue de Vanves, 92130 Issy-les-Moulineaux</p>
                <p class="email-id">g7e@isep.com</p>
                <h4>+333333333333</h4>
            </div>
            <div class="col">
                <h3>Liens <div class="underline"><span></span></div></h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="Services.html">Services</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter <div class="underline"><span></span></div></h3>
                <form>
                    <i class="far fa-envelope"></i>
                    <input type="email" placeholder="Entrer ton mail" required>
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">SEN7SE © 2024- All Rights Reserved</p>
    </footer>
