.table_form{
    text-align: center;
    border-collapse: collapse;
    margin-top: 4%;
    margin-left:auto;
    margin-right:auto;
    color : black;
    background-color: #e8e8e8;
}

#logo{
    height: 100px;
    width: 100px;
    margin-left: 3%;
    display: flex;
    margin-top: -5%;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}
td{
    font-size: 14px;
}

tr:hover {
    background-color: #dcdcdc;
}

.td_label{
    font-size: 25px;
    font-weight: bold;
}