hr{
    position: absolute;
    margin-top: 15px;
    left: 300px;
    width: 70%;
    border: none;
    border-top: 2px solid black;
}

h1{

    font-size: 40px;
}

img{
    margin-top: -25px;
}
.menu{
    margin-top: 10px;
}

form{
    margin-top: 50px;
}

#btn_mot_de_passe_oublie{
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 14px;
}