@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,500&display=swap');
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

*{
    font-family : Andale Mono, monospace;
}

body{
    margin-left:auto;
    margin-right:auto;
    width:1200px;
    text-align:center;
}

h1{
    font-family : Andale Mono, monospace;
    font-size: 40px;
}
h2{
    font-size : 15px;
    font-family : Andale Mono, monospace;
}

button, input {
    font-family: Andale Mono, monospace;
    border: 1px solid black;
    background-color: white;
    height: 40px;
    padding: 0 20px;
}
button,input[type="submit"]{
    cursor: pointer;
}
button:hover {
    border-bottom: 2px solid black;
}

.menu{
    border: 1px solid transparent;
    font-family : Andale Mono, monospace;
    width: auto;
    height: 40px;
    background-color:white;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 10px;
}
.menu:hover{
    border-bottom:2px solid black;
}

.bordure_accueil {
    clear: both;
    overflow: auto;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
}

#logo{
    position: absolute;
    left: 10px;
    width: 100px;
    height: 100px;
    z-index: -1;
    margin-top: -25px;

}

#submit_deconnexion{
    margin-left: 2%;
}

.username{
    display: inline-block;
    font-size: 15px;
}

.div_icon_user {
    position: absolute;
    float: right;
    margin-right: 30%;
    margin-top: 10px;
}

.champ {
    width: 350px;
    background-color: white;
}

form{
    display: inline-block;
    border-spacing: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
    border: 1px solid grey;
    border-radius: 5px;
    font-family : Andale Mono, monospace;
    text-align:center;
}

label {
    margin-bottom: 1%;
    width: 100%;
    display: inline-block;
}

hr{
    position: absolute;
    margin-top: 15px;
    left: 300px;
    width: 70%;
    border: none;
    border-top: 2px solid black;
}
